<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />

    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ config.urls.templates }}assets/styles/main.css" />
    <link rel="icon" type="image/png" href="images/favicon.png" />

    <script src="{{ config.urls.templates }}assets/scripts/libs/webfontloader.js"></script>
    <script src="{{ config.urls.templates }}assets/scripts/libs/modernizr.js"></script>

    {# <script>
        WebFont.load({
            custom: {
            families: ['icomoon'],
            urls: ['{{ config.urls.templates }}assets/style/fonts.css']
            }
        });
    </script>#}
</head>
