{# Respond für ie8 #}

<!--[if IE 8]>
	<script src="{{ config.urls.templates }}assets/vendor/respond/dest/respond.min.js"></script>
<![endif]-->
<script>
	var app = app || {};
	app.config = {
		'baseUrl' : '{{ config.urls.root }}'
	}
	{% if config.debug == true %}

		Modernizr.load([
			{
				load : [
					"{{ config.urls.templates }}assets/vendor/jquery/dist/jquery.min.js",
					"{{ config.urls.templates }}assets/vendor/owl-carousel2/dist/owl.carousel.min.js",
					"{{ config.urls.templates }}assets/vendor/picturefill/dist/picturefill.min.js",
					"{{ config.urls.templates }}assets/scripts/main.js"
				],
				complete: function complete() {
					if ( !window.jQuery ) {
						Modernizr.load('//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js');
					}
					if(typeof app.main.init != 'function'){
						console.log("Our app has some trouble with some internal functions.");
						$(app.main.init);
					} else {
						app.main.debugMode = true;
					}
					$(app.main.init);

					//run Fastclick
					if( typeof FastClick != 'undefined') {
						$(function() {
							FastClick.attach(document.body);
						});
					}
				}
			}
	  ]);
	{% else %}
		Modernizr.load({
			load : [
				"{{ config.urls.templates }}assets/vendor/jquery/dist/jquery.min.js",
				"{{ config.urls.templates }}assets/scripts/main.min.js"
			],
			complete: function complete() {
				if ( !window.jQuery ) {
					Modernizr.load('//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js');
				}
				if(typeof app.main.init != 'function'){
					console.log("Our app has some trouble with some internal functions.");
					$(app.main.init);
				} else {
					app.main.debugMode = false;
				}
				$(app.main.init);
				//run Fastclick
				if( typeof FastClick != 'undefined') {
					$(function() {
						FastClick.attach(document.body);
					});
				}
			}
		});
	{% endif %}
</script>
