$base-font-size: 16;
$em-base: $base-font-size/$base-font-size;

@import 'functions';


$green: "#7DB22A";
$green-dark: "#5EB22A";
$white: "#FFFFFF";
$grey:"#444444";
$black: "#222222";

/**
 *    Farben werden immer mit dem Prefix $color_ definiert
 */
$color_text: #000000 !global;
$color_text_hover: #253E66 !global;

$color_twitter: #00ACED !global;
$color_facebook: #4C66A4 !global;
$color_google-plus: #DD4B39 !global;
$color_xing: #006567 !global;
$color_youtube: #CC181E !global;

$link_color_normal: $color_text;
$link_color_hover: $color_text_hover;
$link_color_active: $color_text_hover;
$link_color_focus: $color_text_hover;
$link_background_normal: transparent;
$link_background_hover: transparent;
$link_background_active: transparent;
$link_background_focus: transparent;

$animation_time: 0.3s;
