@function em($pixel, $reference: $base-font-size) {
	@if not unitless($pixel) {
		$pixel: strip-units($pixel);
	}
	@if not unitless($reference) {
		$reference: strip-units($reference);
	}
	@return ($pixel / $reference) * 1em;
}

@function lower-bound($range){
	@if length($range) <= 0 {
		@return 0;
	}
	@return nth($range,1);
}

@function upper-bound($range) {
	@if length($range) < 2 {
		@return 999999999999;
	}
	@return nth($range, 2);
}
