/*

Mixins
====

Mixins, etwas was der Perfekte Webdeveloper DJ beherscht

 */
/*

### Hover- und Focus-Styles

Shortcut um Hover- und Focus-Styles an einem Element zu definieren.

```
a,
button {
    @include hover {
	    text-decoration: underline;
        }
    }

... wird zu ...

a:hover,
button:hover {
    text-decoration: underline;
    }
```

 */

@mixin hover {
	&:hover { @content; }
}

@mixin focus {
	&:focus { @content; }
}


/*

### Vertical Align

Vertical Algin einfach gemacht ;)

```

@include vertical-align;


```

 */

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
