/*

Contentbereiche / Artikel
====

*/
/*

## Standart Artikel

Beispiel:

```
<article class="article">
    <header class="article__header">
        <h2 class="article__title">article-title</h2>
    </header>
    <div class="article__content">
        <p><strong class="strong">Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit. Eius deserunt rem obcaecati commodi harum a blanditiis iusto at hic non ipsa, eveniet laboriosam voluptates atque repellat, reprehenderit mollitia eligendi ut.</p>
    </div>
    <footer class="article__footer">
        <time class="time">10.02.2015</time>
    </footer>
</article>
```

*/

.article {

    &__header {

    }

    &__title {
        @extend %__h2;
    }

    &__content {
        @extend .editor;
    }

    &__footer {

    }
}
