/*

Formulare und Schaltflächen
====

*/

/*

## Standart Formular / .form

Beispiel:

```
<form class="form" action="#" method="POST">
    <label for="username" class="form__label">Username</label>
    <input type="text" name="username" class="input input--text form__input">

    <label for="password" class="form__label">Password</label>
    <input type="text" name="password" class="input input--text form__input">
</form>
```

*/
.form {

    &__label {


    }
    &__input {

    }
}
/*

## Standart Button's / .btn

Beispiel:

```
<table>
<tr><td>.btn</td><td><button class="btn">Button</button></td></tr>
<tr><td>.btn--input</td><td><input type="button" class="btn btn--input" value="Button"></td></tr>
<tr><td>.btn--submit</td><td><input type="button" class="btn btn--submit" value="Button"></td></tr>
</table>
```

*/
.btn {
    &--input {

    }
    &--submit {

    }
}
/*

## Standart Eingabefelder / .input

Beispiel:

```
<table>
    <tr>
        <td>.input</td>
        <td><input type="text" class="input"></td>
    </tr>
    <tr>
        <td>.input--hidden</td>
        <td><input type="hidden" class="input input--hidden"></td>
    </tr>
    <tr>
        <td>.input--text</td>
        <td><input type="text" class="input input--text"></td>
    </tr>
    <tr>
        <td>.input--password</td>
        <td><input type="password" class="input input--password"></td>
    </tr>
    <tr>
        <td>.input--submit</td>
        <td><input type="submit" class="input input--submit"></td>
    </tr>
    <tr>
        <td>.input--button</td>
        <td><input type="button" class="input input--button" value="Button"></td>
    </tr>
    <tr>
        <td>.input--checkbox</td>
        <td><input type="checkbox" class="input input--checkbox"></td>
    </tr>
    <tr>
    <tr>
        <td>.input--date</td>
        <td><input type="date" class="input input--date"></td>
    </tr>
        <td>.input--radio</td>
        <td><input type="radio" class="input input--radio"></td>
    </tr>
    <tr>
        <td>.input--file</td>
        <td><input type="file" class="input input--file"></td>
    </tr>
</table>
```

*/
.input {
    &--hidden {

    }
    &--text {

    }
    &--password {

    }
    &--submit {

    }
    &--button {

    }
    &--checkbox {

    }
    &--radio {

    }
    &--date {

    }
    &--file {

    }
}
