/*

Listen und Tabellen
====

*/

/*

## Listen

```
<ul class="list list--bullet">
    <li class="list__listitem list__listitem--bullet">Beispiel Liste</li>
    <li class="list__listitem list__listitem--bullet">Beispiel Liste</li>
</ul>
<ol class="list list--number">
    <li class="list__listitem list__listitem--number">Beispiel Liste</li>
    <li class="list__listitem list__listitem--number">Beispiel Liste</li>
</ol>
```

*/
.list {

    &--bullet { //ul

    }

    &--number { //ol

    }


    &__listitem {

        &--bullet { //ul

        }

        &--number { //ol

        }

    }
}

/*

## dt und dd

```

```
*/
.dt {

}
.dd {

}

/*

## Tabelle

```
<table class="table">
    <thead class="table__thead">
        <tr class="table_tr trable_tr--thead">
            <td class="table_td table_td--thead">thead td</td>
            <th class="table_th table_th--thead">thead th</th>
        </tr>
    </thead>
    <tbody class="table__tbody">
        <tr class="table_tr trable_tr--tbody">
            <td class="table_td table_td--tbody">tbody td</td>
            <th class="table_th table_th--tbody">tbody th</th>
        </tr>
    </tbody>
</table>
```
*/
%__td {
    color: #000000;
}
%__th {
    background: #323232;
    color: #ffffff;
}
.table {
    &__thead {

    }
    &__tbody {

    }
    &__tr {

    }
    &__th {
        @extend %__th;
        &--thead {

        }
        &--body {

        }
    }
    &__td {
        @extend %__td;
        &--thead {

        }
        &--body {

        }
    }
}
