/*

Navigation
====

*/

/*

## Navigations element

Beispiel:

```
<nav class="nav">
	<a class="nav__link" href=".">example</a>
	<a class="nav__link nav__link--active" href=".">example Active</a>
	<a class="nav__link" href=".">example</a>
	<a class="nav__link" href=".">example</a>
</nav>
```

 */
.nav {
	&__link {

		&:hover {

		}
		&--active {

		}
	}
}

/*

## Footer Navigations element

Beispiel:

```
<nav class="nav-footer">
	<a class="nav-footer__link" href=".">example</a>
	<a class="nav-footer__link nav-footer__link--active" href=".">example Active</a>
	<a class="nav-footer__link" href=".">example</a>
	<a class="nav-footer__link" href=".">example</a>
</nav>
```

*/
.nav-footer {
	&__link {

		&:hover {

		}
		&--active {

		}
	}
}
