/*

Typografie
====

Allgemeine Angaben zur Typografie.

*/

/*

## Überschriften

```
<h1 class="headline headline--primary>&lt;h1&gt; The quick brown fox &hellip;</h1>
<h2 class="headline headline--secondary">&lt;h2&gt; The quick brown fox &hellip;</h2>
<h3 class="headline headline--tertiary">&lt;h3&gt; The quick brown fox &hellip;</h3>
<h4 class="headline headline--quaternary">&lt;h4&gt; The quick brown fox &hellip;</h4>
<h5 class="headline headline--quinary">&lt;h5&gt; The quick brown fox &hellip;</h5>
<h6 class="headline headline--senary">&lt;h6&gt; The quick brown fox &hellip;</h6>
```

*/
%__h1 {
	font-size: em(34);
}
%__h2 {
	font-size: em(26);
}
%__h3 {
	font-size: em(21);
}
%__h4 {
	font-size: em(16);
}
%__h5 {
	font-size: em(13);
}
%__h6 {
	font-size: em(10);
}
//primary secondary tertiary quaternary quinary senary
.headline  {
	&--primary {
		@extend %__h1;
	}
	&--secondary {
		@extend %__h2;
	}
	&--tertiary {
		@extend %__h3;
	}
	&--quaternary {
		@extend %__h4;
	}
	&--quinary {
		@extend %__h5;
	}
	&--senary {
		@extend %__h6;
	}

}

/*

## Standard-Fliesstext

```
<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel,
et praesentium commodi ullam magnam quia repellendus voluptatibus vitae tempore
voluptatum illo natus dolor fugiat nihil officiis, eligendi eum optio aperiam.</p>
<div class="texts">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel,
	et praesentium commodi ullam magnam quia repellendus voluptatibus vitae tempore
	voluptatum illo natus dolor fugiat nihil officiis, eligendi eum optio aperiam.</p>
</div>
```

 */
%__text {
	color: $color_text;
	font-weight: normal;
}
.text,
.texts p {
	@extend %__text;
}


/*

## Textlink

```
<a class="link" href=".">Ein normaler Text-Link.</a>
<a class="link link--hover" href=".">Ein normaler Text-Link. Status: Hover</a>
<a class="link link--active" href=".">Ein normaler Text-Link. Status: Active</a>
<a class="link link--focus" href=".">Ein normaler Text-Link. Status: Focus</a>
<div class="links">
<a href=".">Ein normaler Text-Link in einem links container.</a>
</div>
```

*/

%__link {

	color: $link_color_normal;
	text-decoration: none;
	background-color: $link_background_normal;
	transition: color $animation_time ease-in-out, background $animation_time ease-in-out;

	&:hover,
	&--hover {
		color: $link_color_hover;
		background-color: $link_background_hover;
	}
	&:focus,
	&--focus {
		color: $link_color_focus;
		background-color: $link_background_focus;
	}
	&--active {
		color: $link_color_active;
		background-color: $link_background_active;
	}
}
.link,
.links a {
	@extend %__link;
}


/*

## Text variationen

```
<ul>
	<li><i class="i">Lorem ipsum dolor sit amet</i></li>
	<li><em class="em">Lorem ipsum dolor sit amet</em></li>
	<li><b class="b">Lorem ipsum dolor sit amet</b></li>
	<li><strong class="strong">Lorem ipsum dolor sit amet</strong></li>
</ul>
```

*/
%__i {
	font-style: italic;
}
%__em {
	font-style: italic;
}
%__b {
	font-weight: bold;
}
%__strong {
	font-weight: bold;
}
.i {
	@extend %__i;
}
.em {
	@extend %__em;
}
.b {
	@extend %__b;
}
.strong {
	@extend %__strong;
}
