
.js-feedback {
	display: block;
	&::before,
	&::after {
		box-shadow: 0 0 0 2px rgba(111,148,182,0.5);
	}

	&.trigger::before {
		-webkit-animation: js-feedback-effect-1 0.5s forwards;
		animation: js-feedback-effect-1 0.5s forwards;
	}

	&.trigger::after {
		-webkit-animation: js-feedback-effect-2 0.5s forwards;
		animation: js-feedback-effect-2 0.5s forwards;
	}
}


@-webkit-keyframes js-feedback-effect-1 {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes js-feedback-effect-2 {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	50%, 100% {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}
