<!DOCTYPE html>
<html>

    {% block headhtml %}{%  include 'includes/headhtml.twig' %}{% endblock headhtml %}

    {% block beforeBodyStart %}{% endblock beforeBodyStart %}
    <body class="tmpl tmpl--{{ page.get("template") }} {% block bodyClass %}{% endblock bodyClass %}">
        {% block afterBodyStart %}{% endblock afterBodyStart %}

        {# Header (Meistens nur die Navigation) #}
        <header class="header">
            {% block header %}
            {{ page.renderChunk('chunks/navigation.twig') }}
            {% endblock header %}
        </header>

        {% block stage %}
            {# ruft die Stage auf und übergibt die variable stage als context #}
            {{ page.renderChunk('chunks/stage.twig', stage) }}
        {% endblock stage %}

        {# Main Content #}
        <main>
            {% block main %}{% endblock main %}
        </main>


        {# Footer #}
        <footer class="footer">
            {% block footer %}
            {{ page.renderChunk('chunks/footer.twig') }}
            {% endblock footer %}
        </footer>

        {% include 'includes/javascript.twig' %}

        {% block beforeBodyEnd %}{% endblock beforeBodyEnd %}
    </body>
    {% block afterBodyEnd %}{% endblock afterBodyEnd %}
</html>
