{# NOCH NICHT FERTIG / WORK IN PROGRESS #}
{# NOCH NICHT FERTIG / WORK IN PROGRESS #}
{# NOCH NICHT FERTIG / WORK IN PROGRESS #}
{% if formResponse %}
<form method="post" name="contactform" action="{{ page.url }}#contactform" id="contactform" class="form">
	{# Standart Fehlermeldungen: #}
	{% if formResponse.success %}
		<div class="message message--success">
			{{ __('success') }}
		</div>
	{% endif %}
	{% if formResponse.submitted and not formResponse.success %}
		<div class="message message--error">
            {{ __('error') }}
		</div>
	{% endif %}

	{# Felder: #}
	{# -------------------------------------------- #}

	{% set errorClass = formResponse.errors and formResponse.errors.name ? ' error' : '' %}
	<label class="form__label" type="text" for="name">{{ __('Name') }}</label>
	<input name="name" class="form__input {{ errorClass }}" value="{{ input.name ? sanitizer.text(input.name) : ''  }}">
	{% if not errorClass == "" %}
		<p class="error_desc">{{ __('error') }}</p>
	{% endif %}

	{# -------------------------------------------- #}

	{% set errorClass = formResponse.errors and formResponse.errors.email ? ' error' : '' %}
	<label class="form__label" type="email" for="email">{{ __('E-Mail') }}</label>
	<input name="email" class="form__input {{ errorClass }}" value="{{ input.email ? sanitizer.text(input.email) : ''  }}">
	{% if not errorClass == "" %}
		<p class="error_desc">{{ __('error') }}</p>
	{% endif %}

	{# -------------------------------------------- #}

	{% set errorClass = formResponse.errors and formResponse.errors.message ? ' error' : '' %}
	<label class="form__label" type="text" for="message">{{ __('Nachricht') }}</label>
	<textarea name="message" class="form__textarea {{ errorClass }}">{{ input.message ? sanitizer.textarea(input.message) : ''  }}</textarea>
	{% if not errorClass == "" %}
		<p class="error_desc">{{ __('error') }}</p>
	{% endif %}

	{# -------------------------------------------- #}

	<input name="submit" type="submit" class="form__button" value="{{ __('Submit') }}">
</form>
{% endif %}
