@import url(http://fonts.googleapis.com/css?family=Ubuntu);

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Resetting */
* { margin: 0; padding: 0; border: 0; font-size: inherit; }
html {
	background: #FFFFFF;
	font-family: Helvetica,Arial,sans-serif;
}
html,
body {
	font-size: 100%;
}

/* Typography */
body {
	color: #4C4C4C;
	padding: 2em;
}
a {
	transition: color 0.3s ease, background 0.3s ease;
	text-decoration: none;
	color: #4C4C4C;
}
h1,
h2,
h3,
h4,
ul,
ol,
dl,
p,
blockquote {
	margin-bottom: 15px;
}
h1,
h2,
h3,
h4,
dt {
	font-weight: bold;
}
h1 {
	font-size: 2rem;
	color: #000000;
}
h2 {
	font-size: 2em;
	color: #000000;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 1em;
}
ul,
ol {
	margin-left: 1em;
	list-style: outside;
}

img {
	border: 0;
}
/* Layout */
.gutter {
	width: 100%;
	max-width: 1300px;
	overflow: hidden;
	margin: 0 auto;
}

#nav {
	float: left;
	width: 20%;
	min-width: 150px;
	max-width: 200px;
	margin-right: 2.1%;
	margin-top: 22px;
	border-right:1px solid #ECEEEF;
	}
	#nav h1 {
			font-size: 2em;
		}
		#nav a {
			text-decoration: none;
			display:block;
			font-size: 1.2em;
			transition: color 0.3s ease, background 0.3s ease;
			padding: 0.1em 0;
			}
			#nav a:hover {
				color: #B00059;
			}


#content {
	overflow: hidden;
	min-width: 400px;
}



/* Sections */
.section {
	background: #ECEEEF;
	margin-bottom: 3.125em;
	margin-left: 8px;
	margin-right: 8px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
}
.section .comment a {
	text-decoration: underline;
}
.section .comment a:hover,
.section .comment a:focus {
	text-decoration: none;
}
.section .result iframe {
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.section .markup,
.section .styles {
	border-top: 1px solid #ddd;
	background: #f7f7f7;
	position: relative;
	overflow-y: auto;
	max-height: 500px;
}
.section .markup pre,
.section .styles pre {
	padding: 1.250em;
}
.section .markup:before,
.section .styles:before {
	display: block;
	background: #eee;
	color: #ccc;
	padding: 0 1.250em;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 0 0 0 4px;
}
.section .markup:before { content: "Markup"; }
.section .styles:before { content: "Styles"; }

/* Code */
.section .comment code {
	color: #3fbead;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	font-size: 0.813em;
}
code,
pre {
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	font-size: 0.813em;
	line-height: 1.250em;
	direction: ltr;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	margin: 0;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.switch {
	margin-bottom: 2px;
	border-bottom: 1px solid #DADADA;
	overflow: hidden;
	}

.switch__btn {
	padding: .25em .5em;
	margin: 0 0 2px 2px;
	float: right;
	font-size: .75em;
	cursor: pointer;
	color: #666;
	background-color: #EEE;
	-webkit-transition: background-color .15s linear;
	-moz-transition: background-color .15s linear;
	transition: background-color .15s linear;
	}

.switch__btn:hover,
.switch__btn:focus {
	background-color: #DADADA;
	}
.switch__btn:hover,
.switch__btn:focus,
.switch__btn:active {
	outline: none;
	}

.switch__btn.is-active {
	color: #111;
	background-color: #CCC;
	}


.section__left {
	width:65%;
	padding: 20px 20px 30px;
}
.section__right {
	width: 35%;
	opacity: 0.5;
	transition:opacity 0.3s ease;
	border-left: 1px solid #ECEEEF;
	margin-left: -1px;
}
.section__right:hover {
	opacity: 1;
}

.section__right,
.section__left {
	float: left;
	max-height: 50%;
}
.section:after {
	content: " ";
	display: block;
	clear:both;
}
