<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{page.title}}</title>
</head>
<body>
<div class="gutter">

	<div id="nav">
		<h1><a href="{{> root}}/index.html"><img src="../images/neuwaerts_logo.png" id="logo" alt="neuwaerts"></a></h1>
		{{#each pages}}
			{{#if isDirectory}}
				<h2 class="heading">{{name}}</h2>
				<ul class="group">
				{{#each pages}}
					<li>
						{{#if isDifrectory}}
							<h3 class="heading">{{name}}</h3>
							<ul class="group">
							{{#each pages}}
								<li>
									{{#if isDirectory}}
										<h4 class="heading">{{name}}</h4>
										<ul class="group">
										{{#each pages}}
											<li>
												<a href="{{> root}}/{{href}}">{{title}}</a>
											</li>
										{{/each}}
										</ul>
									{{else}}
										<a href="{{> root}}/{{href}}">{{title}}</a>
									{{/if}}
								</li>
							{{/each}}
							</ul>
						{{else}}
							<a href="{{> root}}/{{href}}">{{title}}</a>
						{{/if}}
					</li>
				{{/each}}
				</ul>
			{{else}}
				<a href="{{> root}}/{{href}}">{{title}}</a>
			{{/if}}
		{{/each}}
	</div>

	<div id="content">
		<script>
			var pageSlug = '{{page.slug}}';
		</script>
		{{#each page.sections}}
			<div class="section">
				<div class="section__left">
				{{#if comment}}
					<div class="comment">{{{comment}}}</div>
				{{/if}}
				{{#if result}}
					<div class="result">
						<div class="switch js-switch"></div>
						<div id="iframe{{@index}}"></div>
						<script id="result{{@index}}" type="text/html">{{{result}}}</script>
						<script id="script{{@index}}">
							var iframePlaceholder  = document.getElementById('iframe{{@index}}');

							// keine Vorschau fuer Mixins!!1
							if ( pageSlug !== '_mixins' ) {

								var iframe  = document.createElement('iframe');
								iframe.src = 'about:blank';
								iframe.height = 30;
								iframePlaceholder.parentNode.replaceChild(iframe, iframePlaceholder);
								var script  = document.getElementById('script{{@index}}');
								var result  = document.getElementById('result{{@index}}');
								var context = iframe.contentWindow.document;
								context.open();
								context.write('<!DOCTYPE html>');
								context.write('<'+'html>');
								context.write('    <'+'head>');
								context.write('        <meta http-equiv="pragma" content="no-cache">');
								context.write('        <meta http-equiv="cache-control" content="no-cache">');
								context.write('        <meta http-equiv="expires" content="0">');
								context.write('        <script src="..\/vendor\/jquery\/dist\/jquery.min.js"><\/script>');
								//@HERE enter here more script from vendor! @ToDo (automate it?)
								context.write('        {{> assets}}');
								context.write('    <'+'/'+'head>');
								context.write('    <'+'body style="padding: .8em .8em 0 0">');
								context.write(result.innerHTML);
								context.write('        <script>document.createElement("picture")<\/script>');
								context.write('    <'+'/'+'body>');
								context.write('<'+'/'+'html>');
								context.close();

								result.parentNode.removeChild(result);
								script.parentNode.removeChild(script);

							} else {
								iframePlaceholder.parentNode.removeChild(iframePlaceholder);
							}
						</script>
					</div>
				{{/if}}
				</div>
				<div class="section__right">
				{{#if markup}}
					<div class="markup">{{{markup}}}</div>
				{{/if}}
				{{#if styles}}
					<div class="styles">{{{styles}}}</div>
				{{/if}}
				</div>
			</div>
		{{/each}}
	</div>

</div>

	<script>
		var each = Array.prototype.forEach.call.bind(Array.prototype.forEach);
		var iframes = document.getElementsByTagName('iframe');
		for ( var i = 0; i < iframes.length; i++ ) {
			iframes[i].contentDocument.addEventListener('DOMContentLoaded', function () {
				this.height = this.contentDocument.body.scrollHeight;
				// Hoehe fuer Bilder anpassen
				each(iframes[i].contentDocument.images, function (img) {
					img.onload = function () {
						this.height = this.contentDocument.body.scrollHeight;
					}.bind(this);
				}.bind(this));
			}.bind(iframes[i]), false);
		}

		var headings = document.querySelectorAll('#nav .heading');
		for ( var i = 0; i < headings.length; i++ ){
			var list = headings[i].nextElementSibling;
			var links = list.querySelectorAll('a');

			for ( var j = 0; j < links.length; j++ ){
				if ( links[j].href.match('/{{page.href}}') ) {
					links[j].classList.toggle('is-active');
					links[j].parentNode.parentNode.classList.toggle('is-open');
					links[j].parentNode.parentNode.previousElementSibling.classList.toggle('is-open');
				}
			}

			headings[i].addEventListener('click', function () {
				this.classList.toggle('is-open');
				this.nextElementSibling.classList.toggle('is-open');
			});
		}

		// Resolution-Switcher
		//
		// Laesst zwischen 4 Aufloesungen (`ranges`) hin und her schalten.
		var ranges = [960, 768, 480, 320];
		document.addEventListener('DOMContentLoaded', function () {
			each(document.querySelectorAll('.js-switch'), function (switcher) {

				var iframe = switcher.parentNode.getElementsByTagName('iframe')[0],
					btns = [],
					initialWidth;

				// kein iFrame, kein Switcher! \m/
				if ( !iframe ) {
					switcher.parentNode.removeChild(switcher);
					return;
				}

				initialWidth = getInitialWidth();

				// Buttons erstellen & Click-Events abfangen
				each(ranges, function (range) {
					var btn = document.createElement('button');
					btn.setAttribute('data-width', range);
					btn.textContent = range + 'px';
					btn.className = 'switch__btn js-switch__btn';
					btn.addEventListener('click', setWidth, false);
					switcher.appendChild(btn);
					btns.push(btn);
				});

				// Button der gegenwaertigen Aufloesung highlighten
				switcher.querySelector('[data-width="' + initialWidth + '"]').classList.add('is-active');

				// Breite des iFrames setzen
				function setWidth() {
					var that = this,
						width = parseInt(this.getAttribute('data-width'), 10);

					iframe.style.maxWidth = width === ranges[0] && iframe.parentNode.clientWidth > width
						? '100%'
						: width + 'px';
					iframe.height = iframe.contentDocument.body.scrollHeight > iframe.contentDocument.body.clientHeight
						? iframe.contentDocument.body.scrollHeight
						: iframe.contentDocument.body.clientHeight;
					each(btns, function (btn) {
						btn.classList.remove('is-active');
					});
					that.classList.add('is-active');
				}

				// Anfangsaufloesung ermitteln
				function getInitialWidth() {
					var current = iframe.clientWidth,
						i = 0,
						range;
					for ( ; range = ranges[i]; i += 1 ) {
						if ( current > range ) {
							return range;
						}
					}
				}

			});
		}, false);
	</script>

	{{> theme}}
	{{> highlight}}

	<script>
		// Live-Reload integrieren
		(function () {

			var elem = document.createElement('script');
			elem.src = '//localhost:35729/livereload.js';
			elem.type = 'text/javascript';
			elem.async = true;
			elem.defer = true;

			elem.addEventListener('error', function (evnt) {
				elem.parentNode.removeChild(elem);
			}, false);

			document.head.appendChild(elem);

		})();
	</script>
	<script src="../vendor/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		var $seciton = $(".section");
		function sizeCode() {
			$seciton.each(function(i,o){
				$(o).find(".section__right > div").height(($(o).find(".section__left").outerHeight())/2)
			});
		}
		setInterval(function(){ sizeCode() }, 3000);

	});



	</script>

</body>
</html>
