{# Dieser Chunk braucht als Context ein bild (mit cropimage plugin) und es werden die unten gesetuen crops gebraucht #}
{% if image %}
<picture class="picture">                                                                       <!-- picture element-->
    <source srcset="{{ image.getCrop("uhd_large").url }}" media="(min-width: 1400px)">          <!-- für große Bildschirme, wird manchmal gebraucht -->
    <source srcset="{{ image.getCrop("large").url }}" media="(min-width: 1080px)">              <!-- Allgemein Desktop und Laptops -->
    <source srcset="{{ image.getCrop("medium").url }}" media="(min-width: 720px)">              <!-- Tablets & phablets -->
    <source srcset="{{ image.getCrop("small").url }}" media="(min-width: 480px)">               <!-- neue Smartphones -->
        <source srcset="{{ image.getCrop("tiny").url }}">                                       <!-- alte Handys -->
    <img  class="picture__src" srcset="{{ image.getCrop("tiny").url }}" alt="{{ image.title }}"><!-- fallback -->
</picture>
{% endif %}
