{% set template = page.get('template') %}
<div class="stage owl-carousel" data-module="stage">
    {% for item in stage %}
    <figure class="stage__figure">
        {% if item.get("image") %}
            {{ page.renderChunk('picture.twig', item.image) }} <!-- rendert das picture element -->
        {% endif %}
        <figcaption class="stage_caption"><!-- content -->
            {% if item.title %}<strong>{{ item.title }}</strong>{% endif %}
            {% if item.get("content") %} {{ item.content }} {% endif %}
        </figcaption>
    </figure>
	{% endfor %}
</div>
