/* Auszug Icomoon */
/* Font wird in fonts.scss eingebettet */

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    &:before {
        //fix transformable (example rotate)
        display: inline-block;
        //animate cool
        transition: all $animation_time ease-in-out;
    }
}

.icon--close:before {
	content: "\e600";
}
.icon--arrow-down:before {
	content: "\e25bc";
}
.icon--arrow-left:before {
	content: "\e2770";
}
.icon--arrow-right:before {
	content: "\e2771";
}
.icon--arrow-top:before {
	content: "\e2771";
	transform: rotate(-90deg); //rotate for transiton effect
}
.icon--calendar:before {
	content: "\1f4c6";
}
.icon--clock:before {
	content: "\23f0";
}
.icon--external-link:before {
	content: "\1f517";
}
.icon--facebook:before {
	content: "\20";
}
.icon--home:before {
	content: "\2302";
}
.icon--loupe:before {
	content: "\e608";
}
.icon--mail:before {
	content: "\1f4e7";
}
.icon--menu:before {
	content: "\2630";
}
.icon--phone:before {
	content: "\260e";
}
.icon--pin:before {
	content: "\1f310";
}
.icon--twitter:before {
	content: "\1f425";
}
.icon--download:before {
	content: "\f019";
}
.icon--arrow-up:before {
	content: "\f106";
}
.icon--arrow-down:before {
	content: "\f107";
}
