.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}


.disable-scroll {
	overflow: hidden;
}


.hide {
	display: none;
}
.show {
	display: block;
}


.hidden {
	visibility: hidden;
}
.visibile {
	visibility: visible;
}

.left {
	float: left;
}
.right {
	float: right;
}

/**
 *	Rainbow Stuff :)
 *	Ab hier entfernen
 */
@-moz-keyframes rainbowframe {
	from { background-position:top left; }
	to {background-position:top right; }
}
@-webkit-keyframes rainbowframe {
	from { background-position:top left; }
	to { background-position:top right; }
}
@-o-keyframes rainbowframe {
	from { background-position:top left; }
	to { background-position:top right; }
}
@-ms-keyframes rainbowframe {
	from { background-position:top left; }
	to { background-position:top right; }
}
@-khtml-keyframes rainbowframe {
	from { background-position:top left; }
	to { background-position:top right; }
}
@keyframes rainbowframe {
	from { background-position:top left; }
	to { background-position:top right; }
}
.rainbow {
	background-image:-webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet, indigo, blue, green, yellow, orange, red);
	background-image:-o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet, indigo, blue, green, yellow, orange, red);
	background-image:linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, indigo, blue, green, yellow, orange, red);
	-moz-animation:rainbowframe 2.5s forwards linear infinite;
	-webkit-animation:rainbowframe 2.5s forwards linear infinite;
	-o-animation:rainbowframe 2.5s forwards linear infinite;
	-ms-animation:rainbowframe 2.5s forwards linear infinite;
	animation:rainbowframe 2.5s forwards linear infinite;
	background-size:50% auto;
}
/**
 *	Bis hier Entfernen bzw hier unter weiter coden
 */
