*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; //better programming with border-box
}
body {
    padding: 0; //reset default body padding
    margin: 0;
    line-height: 1;
    font-size: 100%;
}


/* HTML5 für alte */
header,
footer,

section,
article,
aside,

figure,
figcaption,

hgroup,

nav,
menu,
picture {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
